<div class="row nt-3">
  <div class="col-10 mx-auto">
    <h1 class="display-3 text-capitalize">
      dashboard
    </h1>
    <p class="lead">welcome <%= name %></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </div>
</div>
